# 2D dataset for LSTM

In [1]:
from pandas import read_csv
from datetime import datetime
# load data
def parse(x):
	return datetime.strptime(x, '%Y %m %d %H')
dataset = read_csv('/content/drive/My Drive/Colab Notebooks/7/raw.csv',  parse_dates = [['year', 'month', 'day', 'hour']], index_col=0, date_parser=parse)
dataset.drop('No', axis=1, inplace=True)
# manually specify column names
dataset.columns = ['pollution', 'dew', 'temp', 'press', 'wnd_dir', 'wnd_spd', 'snow', 'rain']
dataset.index.name = 'date'
# mark all NA values with 0
dataset['pollution'].fillna(0, inplace=True)
# drop the first 24 hours cause the pollution has not been detected
dataset = dataset[24:]
# summarize first 100 rows(one subsequence)
print(dataset.head(100))

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-01-02 00:00:00      129.0  -16  -4.0  1020.0      SE     1.79     0     0
2010-01-02 01:00:00      148.0  -15  -4.0  1020.0      SE     2.68     0     0
2010-01-02 02:00:00      159.0  -11  -5.0  1021.0      SE     3.57     0     0
2010-01-02 03:00:00      181.0   -7  -5.0  1022.0      SE     5.36     1     0
2010-01-02 04:00:00      138.0   -7  -5.0  1022.0      SE     6.25     2     0
...                        ...  ...   ...     ...     ...      ...   ...   ...
2010-01-05 23:00:00       50.0  -22 -16.0  1033.0      NW    23.70     0     0
2010-01-06 00:00:00       56.0  -25 -17.0  1033.0      NW    26.83     0     0
2010-01-06 01:00:00       77.0  -25 -14.0  1033.0      NE     4.02     0     0
2010-01-06 02:00:00       50.0  -26 -14.0  1034.0      NE     8.04     0     0
2010-01-06 03:00:00       44.0  -26 -14.0  1033.0      NE    13.85     0     0

[100 rows x 8 columns]

# 3D for CNN

In [2]:
from numpy import array
data = array(dataset)
print(data.shape)

(43800, 8)

In [3]:
# split into samples (e.g. 43800/100 = 438)
samples = list()
length = 100
# step over the 438,000 in jumps of 100
for i in range(0,43800,length):
 # grab from i to i + 100
 sample = data[i:i+length]
 samples.append(sample)
# convert list of arrays into 2d array
data = array(samples)
print(data.shape)

(438, 100, 8)